:root {
  --background-color: #f5f5f5;
  --text: #3f3f3f;
  --text-green: #156608;
  --text-red: #b65757;
}

* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
